convert_to_template = "{{ convert_to_template }}"
// extra_vars = "{{ extra_vars | default('')}}"
inventory_directory = "{{ inventory_directory }}"
iso_checksum = "{{ iso_checksum }}"
iso_url = "{{ iso_url }}"
playbook_file = "{{ role_path }}/files/playbooks/{{ playbook_file }}"
rhsm_activation_key = "{{ rhsm_activation_key }}"
rhsm_organization = "{{ rhsm_organization }}"
role_path = "{{ role_path }}"
rootpw = "{{ rootpw }}"
ssh_private_key_file = "{{ ssh_private_key }}"
ssh_public_key = "{{ ssh_public_key_value }}"
vm_boot_string = "{{ vm_boot_string | trim }}"
vm_cpu_num = "{{ vm_cpu_num }}"
vm_disk_size = "{{ vm_disk_size }}"
vm_ip = "{{ vm_ip }}"
vm_mem_size = "{{ vm_mem_size }}"
vm_short_name = "{{ inventory_hostname_short }}"
vsphere_cluster = "{{ vsphere_cluster }}"
vsphere_datacenter = "{{ vsphere_datacenter }}"
vsphere_datastore = "{{ vsphere_datastore }}"
vsphere_folder = "{{ vsphere_folder }}"
vsphere_network = "{{ vsphere_network }}"
vsphere_password = "{{ vsphere_password }}"
vsphere_server = "{{ vsphere_server }}"
vsphere_user = "{{ vsphere_user }}"
